@page

<!DOCTYPE html>
<html>

<body style="background-color:#95a2b0">
    <form method="post">
        <label>Emri i juaj</label>
        <input type="text" name="emri">
        <br><br>
        <label>Email adresa e juaj:</label>
        <input type="text" name="emaili">
        <br><br>
        <label>Numri i telefonit</label>
        <input type="text" name="nrTel" maxlength="12">
        <label>Mosha:</label>
        <select name="vendi">
            <option>Select</option>
            <option>6-11</option>
            <option>11-16</option>
            <option>16-21</option>
            <option>>21</option>
        </select>
        <br>
       <br>
        <label>Gjinia:</label>
        <label><input type="radio" name="gjinia" value="mashkull">Mashkull</label>
        <label><input type="radio" name="gjinia" value="femer">Femer</label>
        <br><br>
        <input type="submit" value="Dergo">
    </form>
</body>
</html>

